.home{
    background: linear-gradient(#1d1d1d,#121212) !important;
    width: 100vw;
    padding-left: 340px;
}
.navigation{
      padding: 15px;

}
.nav-1{
  width: 90%;
  position: relative;
  right: 40px;
  
}
.nav-1>img{
    background-color: #131313;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px;
    
}
.nav-2{
    background-color: #131313;
    width: fit-content;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.good-1{
    position: relative;
    top: 15px;
}
.nav-2>h6{
    padding-top: 5px;
}
.scrollbar{
    background-color: #000000;
    width: 19vw;
    height: 90vh;
    overflow-y: scroll;
    position: fixed;
}
::-webkit-scrollbar{
   display: none;
}
.menu,.menu-1{
    padding-bottom: 30px;
}
.menu>p:hover{
    background-color: #282828;
    height: 35px;
    border-radius: 5px;
}
.menu-1>p:hover{
    background-color: #282828;
    height: 35px;
    border-radius: 5px;
}

.menu>p>img{
    width: 25px ;
    
}
.menu-1>p>img{
    width: 25px;
}
.img-1{
    background-image: url('Rectangle 2.png');
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
}
.img-1-2{
    border-radius: 5px;
}
.spotify-1{
    padding-bottom: 20px;
}
.favorite-1:hover{
    background-color: #282828;
    height: 35px;
    border-radius: 5px;
}
.div-1{
   width: 100%;
   flex-wrap: wrap; 
}
.my-card{
    width: fit-content;
    border: none !important; 
    position: relative;
    right: 27px; 
    margin-left: 30px;
    margin-top: 20px;
    width: 25%;
}
.like-1{  
   display: flex;
   align-items: center;
   background-color: #303030;
   color: white;

}
.like-1>img{
    width: 85px;
    height: 85px;
}
.like-1>p{
    margin: 10px;
    padding-left: 10px;
    font-size:20px;
    width: 70%;
}
.my-card-2{
    width: 220px;
    padding: 15px;
    padding-bottom: 0px !important;
    background-color: #181818 !important;
    margin: 20px;
}
.my-card-2>img{
    width: 190px;
  
}
.my-card-2>h6{
    padding-top: 20px;
}
.para-1{
    
    color: #9b9b9b;
}
.div-2{
   
    width: 90%;
    flex-wrap: wrap;
}
.foot-1{
    background-color: #181818;
    width: 99vw;
    height: 100px;
    position: fixed;
    bottom: 0px;
    border-top:1px solid #282828 ;
    
}
.foot-2{
    background-color: #1ed760;
    width: 99vw;
    height: 20px;
    position:fixed;
    bottom: 0px;
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: 12px;
    padding-right: 40px;
    
}
.music-3{
    font-size: 11px;
    color: #9b9b9b;
    position: relative;
    bottom: 8px;  
}
.image-1{
    width: 28% ;
}
.image-2{
    width: 60px ;
    height: 70px ;
}
.icons-1{
    width: 20px;
   height: 22px;
   margin-top: 30px;
}
.music-1{
    margin: 5px;
    border-radius: 10px; 
    width: 550px;
   height: 3px;
    background-image: url("./Rectangle\ 19\ \(1\).png");
     
}
.image-4{
    height: 3px;
 width:450px;
position: fixed;
 border-radius: 10px;

}
.player-1>img{
   position: relative;
   left: 210px;
}
.player-2{
    position: relative; 
    bottom: 10px;
}
.player-2>h6{
    font-size: 10px;
    color: #c4c4c4;
}
.icons-4{
    padding: 25px;
    margin-left: 190px;
}
.icons-5{
    width: 25px;
    padding: 3px;
}


    
